 <section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        News Feed
      </h1>
      <h2 class="subtitle">
        Post things here
      </h2>
    </div>
  </div>
</section>

<div class="section">
  <div class="column is-half is-offset-one-quarter custom">
    <%= render 'posts/form' %>
  </div>
 <hr> 

<div class="column is-half is-offset-one-quarter">
  <%= render @posts %>
</div>