<% if user_signed_in? %>
  <section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome <%= current_user.name %>
      </h1>
      <h2 class="subtitle">
        <%= link_to feed_path do %>
        <i class="fa fa-newspaper-o fa-lg" aria-hidden="true"> The feed - click here to see...</i>
        <% end %>
      </h2>
      <h2 class="subtitle">
        <%= link_to profile_path(current_user) do %>
        <i class="fa fa-user fa-lg" aria-hidden="true"> My Profile - click here to go to your profile...</i>
        <% end %>
      </h2>
    </div>
  </div>
</section>
<% else %>
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <div class="column is-half is-offset-one-quarter">
      <h1 class="title">
        Sign up
      </h1>
      <h2 class="subtitle">
        sign up for an account right now
      </h2>
        <%= render 'forms/signup' %>    
      </div>
    </div>
  </div>
</section>
<% end %>