<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <div class="column is-half is-offset-one-quarter">
      <h1 class="title">
        Sign up
      </h1>
      <h2 class="subtitle">
        sign up for an account right now
      </h2>
        <%= render 'sign_up' %>    
      </div>
    </div>
  </div>
</section>