<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:name, "Find friends by name...") %>
  <div class="field">
  <div class="control">
  <%= text_field_tag(:name, nil, class: "input is-primary") %>
	</div>
	</div>
  <%= submit_tag("Search", class: "button is-primary") %>
<% end %>