<div class="section hero is-primary">
	<h1 class="title">
      My Stats
   </h1>
  <%= render 'profile_bar' %>
</div>
<div class="columns">
  <div class="column is-three-fifths">
    <%= render 'menu' %>
  </div>
  <div class="column"><%= render 'personal_card' %></div>
</div>








  



