<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Vladbook</strong> by <a href="http://jgthms.com">Vlad</a> The Source
        <a href="http://opensource.org/licenses/mit-license.php">code</a>. Personal Project <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">some placeholder text goes here haha</a>.
      </p>
    </div>
  </div>
</footer>