<!DOCTYPE html>
<html>
  <head>
    <title>Vladbook</title>
    <%= render 'defaults/rails_defaults' %>
  </head>
  <body>
  	<%= render 'defaults/header' %>
  	<div class="container">
    	<%= yield %>
  	</div>
  </body>
</html>
